[submodule "thirdparty/downloadproject"]
	path = thirdparty/downloadproject
	url = https://github.com/Crascit/DownloadProject.git
[submodule "thirdparty/corrade"]
	path = thirdparty/corrade
	url = git://github.com/mosra/corrade.git
[submodule "thirdparty/magnum"]
	path = thirdparty/magnum
	url = git://github.com/mosra/magnum.git
