version: '1.0.{build}'

os:
  - Visual Studio 2017

platform:
  - Win32
  - x64
 
configuration:
  - Release
  - Debug

# Configure Environment
install:
  - git submodule update --init --recursive

# Configure
before_build:
  - cmake -A%PLATFORM% .

# Build
build_script:
  - cmake --build .

# Run Tests
test_script:
  - ctest -V
